/*
    Created on : Dec 18, 2015, 10:33:54 AM
    Author     : andriypilipenko
*/

/* Fonts */
body {
    font-family: 'Open Sans', sans-serif;
    color: #858592;
    font-weight: 300;
    font-size: 185%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Arimo', sans-serif;
    color: #5e5e5e;
}

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?68991087');
  src: url('../fonts/fontello.eot?68991087#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?68991087') format('woff'),
       url('../fonts/fontello.ttf?68991087') format('truetype'),
       url('../fonts/fontello.svg?68991087#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fontello {
	font-family: 'fontello';
}

/* Layout */
#wrapper {
	background: url(../img/handmadepaper.png) center center repeat #ffffff;
}
section .container {
	border-left: 1px solid #C2C7CE;
	border-right: 1px solid #C2C7CE;
	padding-top: 1em;
	padding-bottom: 1em;
	background: #ffffff;
}
section:nth-child(even) .container {
	background: #efefef;
}
section h2 {
    padding: 0.6em 0 1.4em 0;
    text-align: center;
    margin: 1em 4em 0.8em;
    border-bottom: 1px solid #C2C7CE;
}
nav.navbar {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}
.modal p, .modal li {
    font-size: 0.75em;
}

/* About */
.about-container {
    padding-top: 80px;
    background: url(../img/about_bg.png) top center no-repeat #08527F;
    color: rgb(186, 183, 230);
    font-weight: 400;
}
section.about-container .container {
	background: none;
	border: none;
}
.about-container h1 {
    font-weight: 300;
    color: inherit;
    font-size: 3em;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}
.about-container blockquote {
    font-style: italic;
    font-size: 0.8em;
    border: none;
    line-height: 1.1em;
    margin: 0;
}
.about-container blockquote footer {
    color: inherit;
}
.about-container .inside {
    font-size: 0.8em;
}
.about-container .title {
    margin-bottom: .7em;
    border-bottom: 1px solid rgba(186, 183, 230, 0.5);
    padding-bottom: .8em;
}
.about-container .buy-button {
    padding: 3.3em 0;
    text-align: center;
}

/* Timer */
.timer {
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
}
.timer .time {
    font-size: 5em;
    line-height: 1em;
}
.timer .timer-labels span {
    display: inline-block;
    width: 105px;
    text-align: center;
}
.bottom-timer {
    text-align: center;
}

/* Learning forms */
.topic {
	background-repeat: no-repeat;
	padding-left: 50px;
    border-bottom: 1px solid #C2C7CE;
}
.details-container .topic+ul {
    min-height: 200px;
}
.form .button {
    text-align: center;
}
.fundamental h3 {
	color: #4d7bb4;
}
.senior {
    border: 1px solid #C2C7CE;
}
.senior h3 {
	color: #ea5012;
}
.expert h3 {
	color: #622d11;
}
.form h3 {
	margin-bottom: 0px;
}
.form-label {
	color: #939ca7;
	margin-bottom: 10px;
}
.form ul li{
	list-style-image: url(../img/icon_li.png);
}
.study-forms .form {
    padding-bottom: 0.6em;
}
.form .form-description {
    font-size: 0.8em;
    padding: 1em 0.1em;
}
.program {
    margin-top: 1.2em;
    border-top: 1px solid #C2C7CE;
    padding: 1em;
}

/* Registration */
.registration {
    padding: 0.5em;
    background: #afdcff;
}

/* Footer */
footer {
    border-top: 1px solid #C2C7CE;
    padding: 1.5em;
}
.social {
	text-align: center;
}
.social a {
    text-decoration: none;
    display: inline-block;
    margin: 0 0.1em;
    width: 3em;
    line-height: 3em;
    text-align: center;
    border-radius: 50%;
}
.social a:hover {
    background-color: #bebeae;
}
.social a>span {
    display: none;
}
footer .policy-link {
    text-align: right;
}
footer .policy-link a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dashed #C2C7CE;
}